{% extends 'layout.html' %}

{% block body %}
<h1>About Us</h1>
<p>Vanguard Information Technology ETF
The Vanguard Information Technology ETF ( VGT 
Loading...
Loading...
) tracks the MSCI US IMI Information Technology 25/50 Index. This is an index consisting of small, midsize and large companies that work in the information technology sector. Large-cap companies tend to have "more consistent revenue streams and stronger balance sheets, which can be helpful in times of economic uncertainty," Rosenbluth says. Investors interested in large capital gains should always have tech exposures in their portfolios, says K.C. Ma, a finance professor at the University of West Florida in Pensacola. Tech stocks perform well in low interest rate and growing economic environments. "For the last 20 years, 3% long-term interest rates and 3% GDP growth rates have become a permanent part of the U.S. economic reality," he says.</p>
{% endblock %}